:root {
    --dark-background: #0B132B;
    --light-background: #13214a;
    --light-text: white;
    --dark-text: grey; 
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --hamburger-margin: 10px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--light-background);
    color: var(--light-text);
}

#overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    inset: 0;
    z-index: 3;
    display: none;
}

/*Hamburger Menu*/

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: none;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: fixed;
    top: var(--hamburger-margin);
    right: var(--hamburger-margin);
    z-index: 101;
    cursor: pointer;

}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--light-text);
    border-radius: 100px;
    transform-origin: left center ;
    transition: opacity var(--animation-timing), width var(--animation-timing)
    , rotate var(--animation-timing), translate var(--animation-timing);

}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2); 
}
.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2); 
}


.hamburger-menu input:checked { 
    opacity: 0;
    width: 0;

}

/*Nav Bar*/

nav {
    position: fixed;   
    width: 100%;
    background-color: var(--dark-background);
    align-content: center;
    
    z-index: 99;
}

nav ul {
    display: flex;
    list-style-type: none;
    font-size: 1.2rem;
    font-family: poppins, sans-serif;

}

nav .home-li {
    margin-right: auto;
    
}
nav li {
    display: flex;
    justify-content: flex-end;
}

nav a {
    display: flex;
    padding: 0.5em 2em;
    text-decoration: none;
    color: var(--light-text); 
    transition: background-color 150ms ease;
}

nav a:hover {
    background-color: var(--light-background);
}
nav a.active-link {
    background-color: var(--light-background);
    border-bottom: 1px solid rgb(255, 0, 0);
} 

@media screen and (max-width: 700px) {
    nav{
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        border-left: 1px solid var(--light-background);
        z-index: 10;
        align-content: flex-start;
        transition: right 300ms ease-out;
    }

   .show {
        right: 0;
    }

    .show ~ #overlay {
        display: block;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav a {
        width: 100%;
    }
    .hamburger-menu {
        display: flex;
    }
}
/*main section*/

.grid-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
}

.home-bar {
   
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: #0e1834;
    background-image: url(assets/images/Background1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.name-header {
    font-family: poppins;
    font-size: 95px;
    font-weight: 800;
    position: sticky;
    top: 50px;
}

.name-header h6 {
    color: rgb(150, 150, 150);
}

.about-bar {
    
    text-align: center;
    background-color: #197278;
    width: 100%;
    height: 75vh;
    align-content: center;
    }

.about-info h3 {
    font-size: 50px;
    color: var(--light-text);
}

.about-info {
    font-family: poppins;
    position: sticky;
    font-size: 30px;
    top: 50px;
    color: rgb(150, 150, 150);
    
}
@media (max-width: 800px) {
    .name-header {
        font-size: 45px;
    }
    .about-info {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    .name-header {
        font-size: 40px;
    }
    .about-info {
        font-size: 20px;
    }

    .about-info h3{
        font-size: 35px;
    }
}


.examples-bar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100vh;
    background-color: orange;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
}


.tile {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: white;
    margin: 20px;
    z-index: 1;
    position: relative;
    text-align: center;
    border-radius: 10px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2); 
    
}

.tile:hover,
.tile:focus {
    transform: scale(1.02);
}

.tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; 
}

.tile h2 a {
    text-decoration: none;
    color: var(--light-text);
    font-size: 25px;
    
}

#tile-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 300ms;
    border-radius: 10px;
  
}

#tile-overlay:hover,
#tile-overlay:focus {
    opacity: 1;
    box-shadow: -8px 8px 15px rgba(0, 0, 0, 0.3);
   
}

.example-one {
    
    grid-column: 2 / 3;
    grid-row: 1 / 2;

}

.example-two {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    
}
.example-three {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    
}
.example-four {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.example-five {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.example-six {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

@media (max-width: 950px) {
    .examples-bar {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }
    .example-one {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .example-two {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .example-three {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        
    }
    .example-four {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    .example-five {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    .example-six {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
}

@media (max-width: 660px) {
    .tile {
        width: 200px;
        height: 200px;
    }


}
 
@media (max-width: 500px) {
    
    .examples-bar {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 230vh;
    }
    .example-one {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .example-two {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .example-three {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        
    }
    .example-four {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
    .example-five {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }
    .example-six {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
    }
}


.contact-bar {
    background-color: #0e1834;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 2fr 1fr;
    text-align: center;
    padding-top:  20vh;
}

.address {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 35px;
    padding: 15px;
}
.email-address {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    font-size: 35px;
    padding: 15px;
}
.telephone {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    font-size: 35px;
    padding: 15px;
}

@media (max-width: 1000px) {
    .address {
        font-size: 25px;
    }
    .email-address {
        font-size: 25px;
    }
    .telephone {
        font-size: 25px;
    }
}

@media (max-width: 700px) {
    .address {
        font-size: 18px;
    }
    .email-address {
        font-size: 18px;
    }
    .telephone {
        font-size: 18px;
    }
}
@media (max-width: 550px) {

    .contact-bar{
        grid-template-columns: 0.5fr 1fr 0.5fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .address {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .email-address {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .telephone {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.fade-in.appear {
    opacity: 1;
}

footer {
    width: 100%;
    height: 100px;
    background-color: var(--dark-background);
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-content {
    display: flex;
    justify-items: flex-end;
}