* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; 
}

body {
    padding-top: 5vh;
    background-color: #eeeeee;
    min-height: 100vh;
    place-items: center;
    align-content: center;
   

}

.border-box {
    
    align-items: center;
    justify-items: center;
    width: 25%;
    height: 70%;
    background-color: #2547A0;
    border-radius: 10px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

header {
  font-family: Verdana;
  align-content: center;
  align-items: center;
  justify-items: center;
}

#head-container {
  width: 90%;
  height: 15%;
  background-color: rgb(24, 24, 24);
  color: rgb(223, 223, 223);
  align-content: center;
  align-items: center;
  text-align: center;
  margin: 20px; 
  padding: 10px;
  border-radius: 10px;
  }

label {
    font-family: sans-serif;
    font-size: 1.3rem;
    color: rgb(223, 223, 223);
}
#number-input{
  font-family: sans-serif;
  padding: 10px;
  font-size: 1.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#convert-btn {
    width: 150px;
    font-size: 1.2rem;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    transition: width 0.1s ease;
    border: 0px; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    }

#convert-btn:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    }



@media (max-width: 1000px) {

    .border-box{
        width: 50%
    }
    #convert-btn {
        width: 120px; 
        font-size: 1.1rem; 
        padding: 4px; 
    }
}

@media (max-width: 550px) {
    #convert-btn {
        width: 100px; 
        font-size: 1rem;
        padding: 6px; 
        overflow: hidden;
    }
    h1 {
        font-size: 1rem;       
        }
        #number-input{
            font-size: 0.7rem;       
            }
}



@media (max-width: 400px) {
    .border-box {
        width: 70%; }

    #convert-btn {
        width: 40vw;
    }
        
    }

#result-block {
    margin-top: 2vh;
    font-size: 1.5rem;
    font-family: Verdana;
    font-weight: bold;
    color:rgb(223, 223, 223);
}

.signature {
    font-family: sans-serif;
    padding-top: 5vh;
}

.hidden {
  opacity: 0;
}

.demonstration {
    margin: 50px;
}
